@page "/UserSwitch"

@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns

@inject IUserData userData
@inject IUserModelService userModelService
@inject IAggregateConfigurationModelService aggconfigModelService

    <div class="form-group">
        <div class="col-lg-8 control-section sb-property-border dropdown-height">
            <div class="control_wrapper">
                <SfDropDownList TItem="UserModel" TValue="string" PopupHeight="230px" Placeholder="Select a user" DataSource="@_users" @bind-Value="@_dropVal">
                    <DropDownListEvents TItem="UserModel" TValue="string" ValueChange="OnChange"></DropDownListEvents>
                    <DropDownListFieldSettings Text="User" Value="User"></DropDownListFieldSettings>
                </SfDropDownList>
                <SfButton IsPrimary="true" OnClick="@(() => _isPopupVisible = true)">Add user</SfButton>
            </div>
        </div>
    </div>

    <SfDialog @bind-Visible="@_isPopupVisible" IsModal="true" Width="500px">
        <DialogTemplates>
            <Header> Add user </Header>

            <Content>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <SfTextBox Placeholder="Username" @bind-Value="@_addUser.User" FloatLabelType="@FloatLabelType.Auto" />
                    </div>
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                        <SfTextBox Placeholder="E-Mail address" @bind-Value="@_addUser.EMail" FloatLabelType="@FloatLabelType.Auto" />
                    </div>
                </div>
            </Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton Content="Save user" IsPrimary="true" OnClick="@HandleValidSubmit" />
        </DialogButtons>

    </SfDialog>

    @code {
        private List<UserModel> _users;
        private bool _isPopupVisible;
        private UserModel _currentUser;
        private UserModel _addUser = new UserModel();
        private string _dropVal = "Test";

        protected override async Task OnParametersSetAsync()
        {
            _users = await userData.GetUsers();
            _currentUser = userModelService.UserModel;
        }

        public void OnChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, UserModel> args)
        {
            _currentUser = args.ItemData;
            _dropVal = _currentUser.User;
            PersistUser(_currentUser);
        }

        private async Task HandleValidSubmit()
        {
            await userData.CreateUser(_addUser);
            _currentUser = _addUser;
            _users = await userData.GetUsers();
            _dropVal = _currentUser.User;
            PersistUser(_currentUser);
            _isPopupVisible = false;
        }

        private void PersistUser(UserModel user)
        {
            userModelService.UserModel = user;
            aggconfigModelService.AggregateConfigurationModel.Description = user.User + "_" +
                        aggconfigModelService.AggregateConfigurationModel.Description.Split('_').Last();
        }

    }
